* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

p{
    color: white;
    margin-top: 15px;
}

a{
    color: white;
}

a:hover{
    background-color: rgb(255, 132, 0);
}
a:active{
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

.primera_caja{
    background-color: black;
    height: 10%;
}

.segunda_caja{
    background-image: url(img/fondo.jpg);
    background-size: 100%;
    height: 90%;
}

.botonInicio{
    text-decoration: none;
    padding: 20px;
}

.cabecera{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.contenedorCategorias{
    margin-top: 300px;
    text-align: center;
    margin-left: 400px;
    font-size: 30px;
}

.botonCategorias{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
}

.primera_columna{
    float:left;
    height: 100%;
    width: 100%;
}

.contenedor{
    height: 100%;
    width: 100%;
}