* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

p{
    color: white;
    margin-top: 15px;
}

a{
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

.primera_caja{
    background-color: black;
    height: 10%;
}

.segunda_caja{
    background-image: url(img/fondo.jpg);
    background-size: 100%;
    height: 90%;
}

.contenedorImagen{
    padding-left: 40px;
    height: 350px;
    width: 250px;
}

.botonInicio{
    text-decoration: none;
    padding: 20px;
    
}

.boton{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-left: 450px;
    font-size: 30px;
}

.votos{
    font-weight: bold;
    padding: 15px;
    background: linear-gradient(90deg, rgba(121,9,9,0.3368697820925245) 0%, rgba(0,0,0,1) 100%);
    border-bottom: 2px solid white;
}

.contenedorFormulario{
    margin-top: 300px;
}

.formulario{
    text-align: center;
    margin-left: 400px;
    font-size: 30px;
}

.bTerror{
    margin-top: 30px;
    width: 140px;
    height: 70px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 18px;
}

.bTarantino{
    margin-left: 10px;
    width: 140px;
    height: 70px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 18px;
}

.subtitulo{
    font-size: 20px;
    font-weight: 800;
}

.imagenes{
    height: 100%;
    width: 100%;
}

.primera_columna{
    float:left;
    height: 100%;
    width: 100%;
}

.contenedor{
    height: 100%;
    width: 100%;
}