* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

p{
    color: white;
    margin-top: 15px;
}

h2{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.primera_caja{
    background-color: black;
    height: 10%;
    width: 100%;
    margin-bottom: 50px;
}

.segunda_caja{
    height: 60%;
}

.contenedorImagen{
    padding-left: 40px;
    height: 250px;
    width: 195px;
}

.botonInicio{
    text-decoration: none;
    padding: 20px;
    
}

.cabecera{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-left: 620px;
    font-size: 30px;
}

.enlaceFicha{
    text-decoration: none;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

a:hover{
    color: darkred;
}

a:active{
    color: rgb(228, 140, 140);
}

.bi{
    font-size: 18px;
    color: white;
    font-style: normal;
}

.votos{
    font-weight: bold;
    padding: 15px;
    background: linear-gradient(90deg, rgba(227, 37, 37, 0.337) 0%, rgba(0,0,0,1) 100%);
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.subtitulo{
    font-size: 18px;
    font-weight: 800;
}

.contenedorVotosFicha{
    border-radius: 10px;
    margin-left: 32%;
}

.botonVotos{
    background-color: white;
    padding: 8px;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
    color: darkred;
    margin-top: 5px;
}

.titulosDatosFicha{
    font-weight: 800;
}

.imagenes{
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

.primera_columna{
    float:left;
    height: 100%;
    width: 25%;
    padding-left: 100px;
}

.segunda_columna{
    float:left;
    height: 100%;
    width: 60%;
}

.contenedorSinopsis{
    border-bottom: 2px solid white;
  }

.contenedor{
    height: 100%;
    width: 100%;
    background-image: url(img/terror/fondoTerror.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}