*{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

table{
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

table, tr, td{
    border: solid 2px rgb(152, 152, 209);
    border-collapse: collapse;
}

td{
    width: 110px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.falso{
    font-weight: bold;
    color: red;
    text-align: center;
}
.verdadero{
    font-weight: bold;
    color: green;
    text-align: center;
}
.contenedor{
    width: 400px;
    margin: auto;
    margin-top: 30px;
}


